@import url("https://fonts.googleapis.com/css?family=Roboto:700");

:root {
    --black: rgba(0,0,0,1);
    --big-stone: rgba(26,52,64,1);
    --alto: rgba(217,217,217,1);
    --white: rgba(255,255,255,1);

    --font-size-xs: 15px;
    --font-size-s: 20px;
    --font-size-m: 32px;
    --font-size-l: 48px;
    --font-size-xl: 96px;
  
    --font-family-roboto: "Roboto";
    --font-family-roboto-bold: "Roboto-Bold";
}


.screen a {
    display: contents;
    text-decoration: none;
}

.main-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    pointer-events: none;
    width: 100%;
}
.main-container > *{
    flex-shrink: 0;
    pointer-events: auto;

}

.header {
    align-items: flex-start;
    display: flex;
    width: 1440px;
}
.overlap-group {
    height: 510px;
    position: relative;
    width: 1440px;
}
.background {
    align-items: flex-start;
    background-color: var(--alto);
    display: flex;
    height: 510px;
    left: 0;
    min-width: 1440px;
    position: absolute;
    top: 0;
}
.title-header {
    color: var(--white);
    font-family: var(--font-family-roboto);
    font-size: var(--font-size-xl);
    font-weight: 700;
    left: 90px;
    letter-spacing: -1.5px;
    line-height: 115.2px;
    position: absolute;
    top: 44px;
    white-space: nowrap;
}
.title-header-two {
    color: var(--white);
    font-family: var(--font-family-roboto);
    font-size: var(--font-size-l);
    font-weight: 700;
    left: 90px;
    letter-spacing: -1.5px;
    line-height: 115.2px;
    position: absolute;
    top: 206px;
    white-space: nowrap;
}
.title-header-three {
    color: var(--big-stone);
    font-family: var(--font-family-roboto);
    font-size: var(--font-size-m);
    font-weight: 700;
    left: 91px;
    letter-spacing: -1.5px;
    line-height: 115.2px;
    position: absolute;
    top: 282px;
    white-space: nowrap;
}
.img {
   display: flex;

}


