.main-container{
  position: relative;
  width: 1440px;
  height: 2151px;
  background: #FFFFFF;
}
:root {
  --black: rgba(0,0,0,1);
  --big-stone: rgba(26,52,64,1);
  --alto: rgba(217,217,217,1);
  --white: rbga(255,255,255,1);

  --font-size-xs: 15px;
  --font-size-s: 20px;
  --font-size-m: 32px;
  --font-size-l: 48px;
  --font-size-xl: 96px;

  --font-family-roboto: "Roboto";
  --font-family-roboto-bold: "Roboto-Bold";

}