.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 16px 76px;
    gap: 241px;
    
    left: 0%;
    right: 0%;
    top: 0px;

    background: #FFFFFF;


    box-shadow: 0px 4px 4px rgba(205, 205, 205, 0.25);
}

.nav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    gap: 241px;

    width: 1278px;
    height: 32px;


    /* Inside auto layout */


}

.title {
    width: 96px;
    height: 32px;

    /* Typography/H6 */

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 160%;
    /* identical to box height, or 32px */

    letter-spacing: 0.15px;

    /* Black and White/Black */

    color: #000000;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.nav-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 48px;
    list-style: none;
    /* width: 335px;
    height: 24px; */


    /* Inside auto layout */


    order: 1;

}

.nav-list li {
    flex-shrink: 1;

}

.logout {
    width: 56px;
    height: 24px;

    /* Button/Medium */

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 170%;
    /* identical to box height, or 24px */

    letter-spacing: 0.4px;
    text-transform: uppercase;

    /* Teal/Teal-800 */

    color: #1A3440;


    /* Inside auto layout */

    flex: none;
    order: 2;
    flex-grow: 0;
}